services:
  db:
    image: mariadb:10.9.5
    expose:
      - 3306
    environment:
      MARIADB_USER: root
      MARIADB_DATABASE: voltr
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: yes
    volumes:
      - voltr_voltr_db:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d


  api:
    build: ./api
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: ""
      DB_NAME: voltr
    volumes:
      - voltr_voltr_imgs:/app/uploaded/imgs
    depends_on:
      - db
    expose:
      - 9000

  app:
    build: ./nuxt
    ports:
      - "8080:80"
    depends_on:
      - api
    volumes:
      - voltr_voltr_imgs:/app/imgs
      
volumes:
  voltr_voltr_db:
    external: true
  voltr_voltr_imgs:
    external: true
