@tailwind base;
@tailwind utilities;
@tailwind components;


@font-face{
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: normal;
}
@font-face{
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Light.ttf');
  font-weight: 300;
}
@font-face{
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Medium.ttf');
  font-weight: 400;
}
@font-face{
  font-family: Poppins;
  src: url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: bold;
}

body {
    font-family: Poppins;
}

* {
  @apply focus:outline-none focus:ring-1 focus:ring-primary-500 
}

.icon {
  @apply w-6 h-6 cursor-pointer;
}

.profile-img {
  background-image: url("https://api.lorem.space/image/face?hash=33791");
  @apply w-14 h-14 rounded-full bg-center bg-cover cursor-pointer;
}


.v-enter-active {
  @apply transition duration-500 ease-linear;
}

.v-enter-from {
  @apply opacity-0;
}

.floating-nav {
  @apply absolute top-24 right-4 flex items-center py-4 px-3 gap-4 bg-primary-100 rounded-md shadow-lg text-lg;
}

@layer base {
    .modal {
      @apply fixed w-screen h-screen bg-slate-800 bg-opacity-10 z-40 inset-0 flex justify-center items-center;
    }
}
.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal,
.modal-leave-to .modal {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.25s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.height-enter-active,
.height-leave-active {
  transition: all 0.25s linear;
}

.height-enter-from {
  opacity: 0;
  height: 0;
}

.height-leave-to {
  opacity: 0;
  height: auto;
}

.btn {
  @apply p-3 ring-1 ring-primary-500 rounded-md text-white bg-primary-500 transition-all hover:bg-white hover:text-primary-500
}

.btn-outline {
  @apply p-3 ring-1 ring-primary-500 rounded-md text-primary-800 transition-all hover:bg-primary-500 hover:text-white
}

.btn-danger {
  @apply p-3 ring-1 ring-red-400 rounded-md text-white bg-red-400 transition-all hover:bg-white hover:text-red-400
}

.btn-disabled {
  @apply p-3 ring-1 ring-disabled rounded-md text-disabled bg-slate-100 transition-all pointer-events-none;
}
